
.icon-comment:before { content: '\e800'; } /* '' */
.icon-hammer:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-brush:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-camera-alt:before { content: '\e807'; } /* '' */
.icon-up:before { content: '\e808'; } /* '' */
.icon-tools:before { content: '\e809'; } /* '' */
.icon-t-shirt:before { content: '\e80a'; } /* '' */
.icon-down-big:before { content: '\e80b'; } /* '' */
.icon-up-big:before { content: '\e80c'; } /* '' */
.icon-globe-alt:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-off:before { content: '\e810'; } /* '' */
.icon-user-1:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-cancel-1:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-thumbs-up:before { content: '\e816'; } /* '' */
.icon-emo-happy:before { content: '\e817'; } /* '' */
.icon-emo-unhappy:before { content: '\e818'; } /* '' */
.icon-trash:before { content: '\e819'; } /* '' */
.icon-heart-1:before { content: '\e81a'; } /* '' */
.icon-trophy-1:before { content: '\e81b'; } /* '' */
.icon-emo-thumbsup:before { content: '\e81c'; } /* '' */
.icon-emo-shoot:before { content: '\e81d'; } /* '' */
.icon-cancel-2:before { content: '\e81e'; } /* '' */
.icon-trash-1:before { content: '\e81f'; } /* '' */
.icon-trash-2:before { content: '\e820'; } /* '' */
.icon-diamond-1:before { content: '\e821'; } /* '' */
.icon-left-open-outline:before { content: '\e822'; } /* '' */
.icon-left-open:before { content: '\e823'; } /* '' */
.icon-left-open-1:before { content: '\e824'; } /* '' */
.icon-right-open:before { content: '\e825'; } /* '' */
.icon-right-dir:before { content: '\e826'; } /* '' */
.icon-right-big:before { content: '\e827'; } /* '' */
.icon-right-outline:before { content: '\e828'; } /* '' */
.icon-right-small:before { content: '\e829'; } /* '' */
.icon-down-open-mini:before { content: '\e82a'; } /* '' */
.icon-down-dir:before { content: '\e82b'; } /* '' */
.icon-down-dir-1:before { content: '\e82c'; } /* '' */
.icon-down-dir-2:before { content: '\e82d'; } /* '' */
.icon-music:before { content: '\e82e'; } /* '' */
.icon-art-gallery:before { content: '\e82f'; } /* '' */
.icon-videocam:before { content: '\e830'; } /* '' */
.icon-user-pair:before { content: '\e831'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-users:before { content: '\e833'; } /* '' */
.icon-brush-1:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\e835'; } /* '' */
.icon-menu-outline:before { content: '\e836'; } /* '' */
.icon-up-dir-1:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-theatre:before { content: '\e83a'; } /* '' */
.icon-trash-3:before { content: '\e83d'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-heart-broken:before { content: '\f028'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up-1:before { content: '\f176'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-trash-4:before { content: '\f1f8'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */